In [18]:
import pandas as pd
import numpy as np

Add a new column to a DataFrame based on existing columns.

In [19]:
data = pd.read_csv('data.csv')
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [20]:
data['Fit'] = np.where(data['Calories']>400, 'Yes', 'No')
data

     Duration  Pulse  Maxpulse  Calories  Fit
0          60    110       130     409.1  Yes
1          60    117       145     479.0  Yes
2          60    103       135     340.0   No
3          45    109       175     282.4   No
4          45    117       148     406.0  Yes
..        ...    ...       ...       ...  ...
164        60    105       140     290.8   No
165        60    110       145     300.0   No
166        60    115       145     310.2   No
167        75    120       150     320.4   No
168        75    125       150     330.4   No

[169 rows x 5 columns]

Rename columns in a DataFrame.

In [21]:
data.rename(columns={"Fit" : "Fitness"}) # Rename columns using a mapping

     Duration  Pulse  Maxpulse  Calories Fitness
0          60    110       130     409.1     Yes
1          60    117       145     479.0     Yes
2          60    103       135     340.0      No
3          45    109       175     282.4      No
4          45    117       148     406.0     Yes
..        ...    ...       ...       ...     ...
164        60    105       140     290.8      No
165        60    110       145     300.0      No
166        60    115       145     310.2      No
167        75    120       150     320.4      No
168        75    125       150     330.4      No

[169 rows x 5 columns]

Sort a DataFrame based on values in one or more columns.

In [24]:
sorted_data = data.sort_values(by=['Duration', 'Calories'])
sorted_data.head(20)

     Duration  Pulse  Maxpulse  Calories Fit
93         15     80       100      50.5  No
112        15    124       139     124.2  No
89         20     83       107      50.3  No
100        20     95       112      77.7  No
68         20    106       136     110.4  No
94         20    150       171     127.4  No
64         20    110       130     131.4  No
135        20    136       156     189.0  No
139        20    141       162     222.4  No
58         20    153       172     226.4  No
95         20    151       168     229.4  No
97         25    152       168     244.2  No
107        30     90       120      86.2  No
104        30     92       108      92.7  No
92         30     90       107     105.3  No
105        30     93       128     124.0  No
96         30     95       128     128.2  No
82         30    103       139     151.1  No
148        30    103       127     185.0  No
98         30    109       131     188.2  No

In [23]:
sorted_data = data.sort_values(by=['Duration', 'Calories'], ascending=False)
sorted_data

     Duration  Pulse  Maxpulse  Calories  Fit
69        300    108       143    1500.2  Yes
79        270    100       131    1729.0  Yes
109       210    137       184    1860.4  Yes
60        210    108       160    1376.0  Yes
65        180     90       130     800.4  Yes
..        ...    ...       ...       ...  ...
68         20    106       136     110.4   No
100        20     95       112      77.7   No
89         20     83       107      50.3   No
112        15    124       139     124.2   No
93         15     80       100      50.5   No

[169 rows x 5 columns]